/* Header */
header {
  display: flex;
  width: 100%;
  background-color: var(--second-color);
  position: fixed;
  height: 70px;
  top: 0;
  z-index: 100; /* Aumenta el índice z del encabezado */
  box-shadow: 0px 0px 20px 0px #7c7c7c78;
  color: #fff;
  justify-content: space-between;
  padding: 21px 19px;
  align-items: center;
}

.static-header {
  height: 70px;
}

.contenedor-menu {
  margin-right: 7%;
}

.boton {
  display: inline-block;
  padding: 8px 16px;
  color: #ffffff;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background: var(--second-color);
  margin-right: 10px;       
  border-radius: 5px;
  outline: none;
  border: 1px solid var(--primary-color);
  cursor: pointer;
  font-size: 0.9rem;
}

.botones-container {
  display: flex;
}

.boton:hover {
  background-color: #ddd;
}

.boton:active {
  background-color: #ccc;
}

.mostrar-menu {
  font-size: 30px;
  cursor: pointer;
  display: none;
  transition: 0.4s;
}

.esconder-menu {
  font-size: 30px;
  cursor: pointer;
  display: none;
  transition: 0.4s;
}

.mostrar-menu {
  order: 1;
}

.menu a:hover,
.mostrar-menu:hover .esconder-menu:hover {
  color: rgb(19, 19, 19);
  cursor: pointer;
}

label {
  display: none;
}

#check {
  display: none;
}

@media (max-width: 768px) {
  .mostrar-menu,
  .esconder-menu {
    display: block;
  }

  #check:checked ~ .contenedor-menu .menu {
    right: 0;
  }

  .menu {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #000000;
    top: 0;
    right: -100%;
    text-align: center;
    padding: 100px 0px;
    transition: 0.8s;
  }

  .menu a {
    display: block;
    padding: 20px;
  }

  .esconder-menu {
    position: absolute;
    top: 40px;
    right: 10px;
  }
}

@media (min-width: 320px) and (max-width: 420px) {
  .mostrar-menu,
  .esconder-menu {
    display: block;
    cursor: pointer;
    background: #fff;
  }
  .boton {
    display: inline-block;
    padding: 8px 16px;
    color: #333;
    text-decoration: none;
    border: none;
    border-radius: 22px;
    cursor: pointer;
    background-color: rgb(65, 225, 102);
    margin: 50px;
  }

  .menu a {
    display: flex;
    padding: 11px;
    flex-direction: column;
  }
  .botones-container {
    display: flex;
  }
}
