/* CardGrid.css */

.categorias {
  margin: 4% 2% 0%;
}

.titulo h2 {
  text-align: center;
  font-size: 1.8rem;
  font-weight: 500;
  color: #01602a;
  padding-bottom: 3%;
}

.cardGrid {
  margin-top: 20px;
}

.card {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.cardMedia {
  height: 200px;
}

.cardContent {
  flex-grow: 1;
}

.Princial-grid {
  background-color: aquamarine;
  height: 43px;
  margin: 0% 0% 0% 1%;
}

@media (min-width: 360px) and (max-width: 768px) {
  .slider-categoria {
    margin: 9% 9px 9px 2px;
  }
  .Princial-grid {
    margin: 3% 9% 1%;
  }
  .categorias {
    margin-top: 10px;
  }
}

@media (min-width: 360px) and (max-width: 767px) {
  .slick-slide > div {
    display: flex;
    justify-content: center;
    width: 100%;
  }
}
